{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="{%static 'css\MainStyle.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>tablas xd</title>
</head>
<body class="color-fondo">
<form method="post">
    {% csrf_token %}

    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
</div>

</form>
    <div>
        <div>

        </div>
    </div>
    <br>
    <br>
    <h1 align="centrer">Tabla de Empleados</h1>
    <br>
    <br>
  <table class="table">
      {%if allemployee%}
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Salario</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Actualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        {%for arraydemployee in allemployee%}
        <td>{{arraydemployee.name}}</td>
        <td>{{arraydemployee.lastname}}</td>
        <td>{{arraydemployee.date_bo}}</td>
        <td>{{arraydemployee.Salary}}</td>
        <td>{{arraydemployee.telefono}}</td>
        <td>{{arraydemployee.direcciono}}</td>
        <td>{{arraydemployee.actualizar}}</td>
        <td>
       {{arraydemployee.actualizar}}<a href="{%url 'webprogra:index'%}">
           <button type="button" class="btn btn-primary" >Modificar </button>
       </a>
    </td>
    </tr>


    {%endfor%}
    {%else%}
    <br><h1>no ai na</h1><br/>
    {%endif%}
  </tbody>
</table>
                <div>
                    <div class="btn-group">
                    <a href="{%url 'webprogra:index'%}">ingresar</a>
                    </div>
                </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</html>